.categories__all {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.category__card {
    align-items: center;
    position: relative;
    margin: 3%;
    background-color: #ffffff;
    color: #393d71;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 20%;
    max-width: 70%;
    padding: 3%;
}

.category__title{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 2%;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* border: black solid 1px; */
  }
  
  .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }  
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #4cafa2bb;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content li:hover {
    background-color: #c2c525d0;
  }
  
  .dropdown input,
  ul.submenu {
    display: none;
  }
  
  .dropdown label {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .dropdown input:checked ~ ul.dropdown-content {
    display: block;
  }
  
  li {
    list-style: none;
  }
  
  .link{
    color: black;
    text-decoration: none;
  }

  @media only screen and (min-width: 650px){
    .categories__all {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
    }
    .category__card {
      align-items: center;
      position: relative;
      margin: 1rem;
      background-color: #ffffff;
      color: #393d71;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 23%;
      max-height: 8rem;
    }
  }