.comment__card {
  align-items: center;
  position: relative;
  margin: 1rem 20%;
  background-color: #ffffff;
  color: #393d71;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; */
  /* width: 90%; */
}

.comments__all {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.comments__Button {
  margin: 2% 45%;
  color: #fff;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

#comments__expandButton {
  background-color: #40af44;
}

#comments__expandButton:hover {
  background-color: yellow;
  color: black;
}

#comments__hideButton {
  background-color: red;
}

#comments__hideButton:hover {
  background-color: yellow;
  color: black;
}

.comment__author {
  text-decoration: underline;
}

.comment__body {
  font-size: 1.2rem;
  background-color: rgba(236, 240, 9, 0.521);
}

.comment__card .comment__created__at {
  margin-bottom: 0;
}
