/* .reviews__all {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.review__card-link {
  display: inline;
}

.review__card {
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 30% auto;
  grid-template-areas: "image title" "image category" "image review_id";
  margin: 1rem;
  background-color: #ffffff;
  color: #393d71;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 70%;
  max-height: 100px;
}

.review__image {
  grid-area: image;
  max-height: 80%;
  max-width: 80%;
  padding: 5%;
  overflow-y: auto;
}

.review__title {
  grid-area: title;
  font-size: 0.7rem;
  padding: 5% 3% 2% 6%;
  font-weight: bold;
  text-decoration: underline;
}

.review__category {
  grid-area: category;
  font-size: 0.7rem;
}

.review__id {
  grid-area: review_id;
  font-size: 0.7rem;
}

.reviews__sortButtonWrapper {
  margin: 2%;
  display: flex;
}

.reviews__sortButton {
  margin: 2% 5%;
  
  color: #fff;
  border: none;
  padding: 0.2rem;
  border: black solid 1px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  background-color: rgb(183, 126, 236);
}

@media only screen and (min-width: 650px) {
  .reviews__all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }
  .review__card {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 30% auto;
    grid-template-areas: "image title" "image category" "image review_id";
    margin: 1rem;
    background-color: #ffffff;
    color: #393d71;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 23%;
    max-height: 8rem;
    
  }
} */

/*##########################################################*/

.reviews__all {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.review__card {
  max-width: 100%;
  max-height: 50%;
  margin: 2% 10%;
}

.review__image {
  width: 100%;
  border: black solid 1px;
  border-radius: 4%;
  box-shadow: 0 0 1.5rem 0px darkblue;
  opacity: 0.8;
}

.review__content {
  width: 100%;
  z-index: 3;
  margin: 0% 0% 5%;
  padding-bottom: 3%;
  border: black 1px solid;
  border-radius: 1%;
  background-color: #393d71ee;
}

.review__title {
  color: white;
  font-size: 1.2rem;
  border-bottom: solid white 1px;
  padding: 3% 2%;
}

.review__category {
  color: white;
  font-size: 0.9rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.review__id {
  color: white;
  font-size: 0.9rem;
}

.review__id-number {
  font-weight: 1000;
}

.sort__header {
  width: 100%;
  margin-left: -5%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3%;
}

.reviews__sortButtonWrapper {
  width: 100%;
  margin-bottom: 2%;
  margin-left: -5%;
  display: flex;
  justify-content: center;
}

.reviews__sortButton {
  margin: 2% 5%;

  color: #fff;
  border: none;
  padding: 0.2rem;
  border: black solid 1px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  background-color: rgb(183, 126, 236);
  box-shadow: 0 0 0.8rem 0px darkblue;
}

@media only screen and (min-width: 650px) {
  .reviews__all {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .review__card {
    position: relative;
    flex: 1 1 20%;
    overflow: hidden;
    border-radius: 3%;
    max-width: calc(25% - 10px);
  }

  /* .review__image{
    position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          object-fit: cover;
  } */

  .review__content {
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 10px 20px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 1));
    bottom: -70px;
  }
  .review__content:hover{
    background-color: red;
    transform: translateY(-30%);
  }
}
