.singleReview__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 2rem;
    background-color: #4cafa2a8;
    padding: 0.5rem 0rem;
}
.singleReview__category{
    font-size: 1 rem;
    font-weight: bold;
    margin: 1rem;
}

.singleReview__image{
    max-height: auto;
    max-width: 30%;
}

.singleReview__author{
    text-decoration: underline;
}

li {
    margin: 1rem 2rem;
}.singleReview__comments{
    text-decoration: underline;
}

.spinner {
    width: 10rem;
    height: 10rem;
    position: fixed;
    top: 20%;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
  }
  
  @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
  }